*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

#tmp folder used locally
tmp

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# Compiled C++ files
*.out

# Application specific files
venv
node_modules
.sass-cache

# Temp File
*.swp
*.swa
*.swo

# github merge file
*.orig

#vscode 
.vscode

.bandit.yaml
bandit-env/
bandit_output.txt
cfn_nagged.yaml
models/
cdk.context.json